<!doctype html>
<html>
	<head>
		<title>Landing Page</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link href="css/style.css" rel="stylesheet">
	</head>
	
	<body>
		<div class="header">
			<h1>My Tasks</h1>
		</div>

		<a href = "/index.html"><img id="logout" src = "/image/logout.jpg" width="29" height="29"  ></a>
					
		<nav>
			<a href="/input.html" class="addButton">
				<img src = "/image/add.jpg" width="20" height="20">
			</a>
			
		</nav> 
		<div class = "intro">
			<p>{{welcome}}</p>
			<p>To add a new task, click on the + button.</p>

		</div>

{{#each tasks}} 

<ul class="tasks">
	<li class ="tasklist" id= "{{id}}">
	<p>{{taskname}}</p>
    <p>{{time}}</p> 
    <p>Price Center</p>
     <a href="#" class="deletingTask"> <img src = "/image/delete.jpg" width="21" height="21"></a>
</li>
</ul>
{{/each}}

		



	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/home.js"></script>
	</body>
</html>