<!doctype html>
<html>
	<head>
		<title>Login Page</title>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>	
		<h1>Login</h1>
	  
	  <form id="userLogin" role = "page" method="get" action="/index">
		<div class="Login">
			<div class ="username">
			<label for="username">username:</label><br>
    		<input type="text" id="userLogin" placeholder= "username" name="userName"><br>
    	</div>

    	<div class ="password">
    		<label for="password">password:</label><br>
    		<input type="text" id="userpassword" placeholder="password" name="password"><br>
    	</div>
    		
    		<a href = "home/{{userName}}">	<input type = "submit" value="Login"></a>
			
    	</div>
    </form>
	</body>
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</html>