<!doctype html>
<html>
	<head>
		<title>Login Page</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<h1>Login</h1>
			<p class="facebookLogin"> Facebook login
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
</p>
		</div>
	  
	  <form id="userLogin" role = "page" method="get" action="/home">
		<div class="Login">
			<div class ="username">
			<label for="username">username:</label><br>
    		<input type="text" id="userLogin"  name="userName" value = "NSNSHooray"><br>
    	</div>

    	<div class ="password">
    		<label for="password">password:</label><br>
    		<input type="password" id="userpassword" name="password" value = "12345678"><br>
    	</div>
    		
    			<input type = "submit" value="Login">
			
    	</div>
    </form>
    <p align="center"><a href="/privacy.html">Privacy Policy</a></p>
	</body>
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	{{> facebook}}
<script src="/js/facebook.js"></script>
</html>