<!doctype html>
<html>
	<head>
		<title>Login Page</title>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>	
		<h1>Login</h1>
	
		<div class="Login">
    		<input type="text" id="userLogin" placeholder= "username"><br>
    		<input type="text" id="userpassword" placeholder="password"><br>
    		<a href="home">
    			<input type = "submit" value="submit">
			</a>
    	</div>
	</body>
</html>