<html>

<head>
<title>Login Page</title>
<link href="/css/style.css">
	</head>
	<body>
		
	<h1>Login</h1>
    <input type="text" id="userLogin" placeholder= "username">
    <hr>
    <input type="text" id="userpassword" placeholder="password">
	</body>
</html>