body {
	font-family: Helvetica;
	max-width: 100%;
	margin: 0 auto;
}

nav, h1 {
	max-width: 100%;
	text-align: center;
}

.hamburger {
	cursor: pointer;
	padding: 10px 20px;
	display: block;

}

.line {
	border-bottom: 3px solid;
	width: 30px;

	margin-bottom: 6px;
}

.line: last-child {
	margin-bottom: 0;
}

.menu{
	border-style: groove;
	width: 80%;
	margin: 0 auto;
	padding: 0;
	display: none;
}

.menu li{
	list-style: none;
	display: block;
	padding: 20px;

}

.menu li a
{
	text-decoration: none;
}

.active{
	display: block;
}

#detail {
	font-size: 0.8em;
	position:relative;
	bottom:32px;
	margin-bottom: 0px;
}


ul.tasks{
	width:89%;
	float: left;
}

ul.tasks li{
	font-size: 1.2em;
	list-style: none;
	float: left;
	width: 91.5%;
	padding: 13px;
	border-style: groove;
	border-radius: 5px;
	margin-bottom: 50px;


}
ul.tasks li .buttons{
	width: 100px;
	height: 50px;
	position: relative;
	left: 500px;
	bottom: 30px; 
}

ul.tasks li .buttons button{
	cursor: pointer;
	width:50px;
	height:50px;
	float:left;
	background: none;
	border:0px;
	box-shadow:none;
	outline:none;
}

ul.tasks li .buttons button svg {
	width: 22px;
	height: 22px;
	position: relative;
	margin: -11px 0 0 -11px;
}

.addButton{
	cursor: pointer;
	float:right;
	position:relative;
	right:50px;
	bottom: 200px;

}

.password{
margin-bottom: 30px;
text-align: center;
}

.Login{
margin-bottom: 30px;
text-align: center;
}

.username{
margin-bottom: 30px;
text-align: center;
}

.searchBar {
	text-align: center;
}

#searchBar {
	width: 70%;
}

.backButton{
	cursor: pointer;
	float:left;
	position: fixed;
	left:15px;
	top:0px;
	

}


.uniqueH3 h3{

	text-align: center;
}



