body {
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	color: white;
	letter-spacing: 2px;
	font-size: 30px; 
	text-align: center;
	max-width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p{
	color: white;
	opacity: 0.7;
	padding-left: 40px;
	padding-right: 40px;
	line-height:18px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

h3 {
	color: white;
	font-size: 20px; 
	text-align: center;
	max-width: 100%;
	letter-spacing: 2px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h4 {
	color: white;
	margin-top: -10px;
    margin-bottom: -10px;
	padding-left: 5px;
	padding-right: 20px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

h5 {
	color: white;
	margin-top: -10px;
    margin-bottom: -10px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	display:inline;
}

h6{
	color: white;
	opacity: 0.7;
	line-height:18px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:inline;
}

.header{
	opacity: 0.86;
	background-color: #7BABEE;
	text-align: center;
	padding: 2px;
}

/*Login Page*/
.Login{
 height: 300px;
  margin: 50px auto 0;
  width: 298px;
  clear: both;
}

input[type="password"], input[type="text"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 100%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

input[type="text2"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  margin-bottom: -10px;
  margin-top: 0px;
  margin-right: 10px;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 85%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

input[type="text3"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  margin-bottom: -10px;
  margin-top: 0px;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 315px;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

.Login label{
	float:left;
	font-size: 20px;
	margin-left:20px;
	margin-bottom: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 100;
	color: white;
	opacity: 0.7;
}

#loginButton{
  width:127px;
  height:38px;
  margin: 0px 0 0 15px;
  border-radius: 5px;
  text-align:center;
  display:block;
  float: left;

  font-size:23px;
  font-weight:normal;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-decoration:none;
  padding-top: 2px;

  cursor:pointer;
  border: none;  
  background-color: #ffa232;
}

/*task page*/
#detail {
	font-size: 0.8em;
	position:relative;
	bottom:32px;
	margin-bottom: 0px;
}


#logout{
	cursor: pointer;
	float:left;
}

#Done{
	cursor: pointer;
	float:right;
}

.password{
margin-bottom: 30px;
text-align: center;
}

.Login{
margin-bottom: 30px;
text-align: center;
}

.username{
margin-bottom: 30px;
text-align: center;
}

.searchBar {
	text-align: center;
}

#searchBar {
	width: 70%;
}

#location {
	cursor: pointer;
	float:left;
}

#backButton{
	background:none;
  	border:none;
	cursor: pointer;
	float:left;
	padding-left: 10px;
	font-size:0.5em;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}

#cancel{
	background:none;
  	border:none;
	cursor: pointer;
	float:left;
	font-size:1em;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	margin-right: -20px;
}

#submitB{
	background:none;
  	border:none;
	cursor: pointer;
	float:right;
	font-size:1em;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}

#submitBtn, #addButton, #addTaskk{
	text-decoration:none;
	background:none;
  	border:none;
	cursor: pointer;
	float:right;
	font-size:0.5em;
	padding-right: 10px;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;	
}

.intro {

	text-align: center;
	background-color: #ffa232;
	border-radius: 10px;
	width:68%;
	margin: auto;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 20px;
	display: none;
}

audio { width: 250px;  }

ul.tasks {
	margin-right: 38px;
}

ul.tasks li {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	list-style: none;
	margin-bottom: 50px;
}


/*setting page*/

#addNewTaskForm label{

	font-size: 18px;
	font-weight: bold;
	opacity: 0.7;
}

select {
	border: 3px solid #ffffff;
	border-radius: 10px;
	background-color:rgba(0, 0, 0, 0.23);
	box-shadow: 0 1px #fff;
	box-sizing: border-box;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 45px;
	overflow: hidden;
	width:28%;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: white;
	opacity: 0.7;
}

#time, #time2, #time3 {
	font-size:16px;
}

#locationPic {
	margin-left: 2px;
	margin-top: 6px;
}

input[type="checkbox"],  {
	font-size:16px;
}
