body {
	background-color: #F5F5F5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	max-width: 100%;
	margin: 0 auto;
}

h1 {
	color: white;
	letter-spacing: 2px;
	font-size: 30px; 
	text-align: center;
	max-width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p{
	color: white;
	opacity: 0.7;
	padding-left: 40px;
	padding-right: 40px;
	line-height:18px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

h3 {
	color: white;
	font-size: 30px; 
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	max-width: 100%;
	letter-spacing: 2px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 100;
}

h4 {
	color: white;
	margin-top: 0px;
    margin-bottom: -10px;
	padding-left: 20px;
	padding-right: 20px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

#repeat{
	color: white;
	margin-top: 30px;
    margin-bottom: -22px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

h5 {
	color: white;
	margin-top: -10px;
    margin-bottom: -10px;
	line-height:20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	display:inline;
}

h6{
	color: white;
	opacity: 0.7;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display:inline;
}

#icon{
	float:left;
	margin-right: 5px
}

.header{
	opacity: 0.86;
	background-color: #7BABEE;
	text-align: center;
	padding: 2px;
}

/*Login Page*/
.Login{
 height: 300px;
  margin: 50px auto 0;
  width: 298px;
  clear: both;
}

input[type="password"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 90%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

input[type="username"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 90%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

input[type="text"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 93%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

input[type="text2"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  margin-bottom: -10px;
  margin-top: 0px;
  margin-right: 10px;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 85%;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

input[type="text3"] {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  margin-bottom: -10px;
  margin-top: 0px;
  height: 45px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 315px;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  opacity: 0.7;
}

.Login label{
	float:left;
	font-size: 20px;
	margin-left:20px;
	margin-bottom: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 100;
	color: white;
	opacity: 0.7;
}

#loginButton{
  width:127px;
  height:38px;
  margin: 0px 0 0 15px;
  border-radius: 5px;
  text-align:center;
  display:block;
  float: left;

  font-size:23px;
  font-weight:normal;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-decoration:none;
  padding-top: 2px;

  cursor:pointer;
  border: none;  
  background-color: #ffa232;
}

.editingTask{
	margin-top: -5px;
	float: right;
	text-decoration: none;
	font-size: 20px;
}

#taskname{
	font-size: 20px;
	text-align: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-left: -5px;
	padding-left: 5px;
	line-height: 25px;
}


#taskname2{
	font-size: 20px;
	text-align: left;
	margin-top: -10px;
	margin-right: 20px;
	margin-left: 8px;
	padding-left: 5px;
	line-height: 25px;
}

/*task page*/
#detail {
	text-align: left;
	margin-top: -15px;
	padding-left: 0px;
	line-height: 25px;
}

#location {
	text-align: left;
	margin-top: -10px;
	margin-bottom: 25px;
	padding-left: 0px;
	line-height: 25px;
}

.countdown{
	color: white;
	opacity: 0.7;
	padding-left: 0px;
	padding-right: 40px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
	margin-top: -20px;
	line-height: 30px;
}

#notifselect{
	color: white;
	padding-left: 0px;
	padding-right: 40px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
	margin-top: 0px;
	line-height: 30px;
}

#logout{
	cursor: pointer;
	float:left;
}

#Done{
	cursor: pointer;
	float:right;
}

.password{
margin-bottom: 30px;
text-align: center;
}

.Login{
margin-bottom: 30px;
text-align: center;
}

.username{
margin-bottom: 30px;
text-align: center;
}

.searchBar {
	text-align: center;
}

#searchBar {
	width: 70%;
}

#location {
	cursor: pointer;
	float:left;
}

#locationTask {
		color: white;
	opacity: 0.7;
	padding-left: 0px;
	padding-right: 40px;
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
    margin-top: -5px;
    margin-bottom: -29px;
}

#backButton{
	background:none;
  	border:none;
	cursor: pointer;
	float:left;
	padding-left: 10px;
	font-size:0.5em;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}

#cancel{
	background:none;
  	border:none;
	cursor: pointer;
	float:left;
	font-size:1em;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
	margin-right: -20px;
}

#submitB{
	background:none;
  	border:none;
	cursor: pointer;
	float:right;
	font-size:1em;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;
}

#submitBtn, #addButton, #addTaskk{
	text-decoration:none;
	background:none;
  	border:none;
	cursor: pointer;
	float:right;
	font-size:0.5em;
	padding-right: 10px;
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 2px;	
}

.intro {

	text-align: center;
	background-color: #ffa232;
	border-radius: 10px;
	width:80%;
	margin: auto;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 20px;
	display: none;
}

audio {  width: 250px;  }

ul.tasks {
	margin-right: 0px;
	margin-left: -40px;
	margin-bottom: -16px;
}

ul.tasks li, #iw-container{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	padding: 20px;
	box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 40px 20px 0 rgba(0, 0, 0, 0.19);
	list-style: none;
}


/*setting page*/

#addNewTaskForm label{

	font-size: 18px;
	font-weight: bold;
	opacity: 0.7;
}

select {
	border: 3px solid #ffffff;
	border-radius: 10px;
	background-color:rgba(0, 0, 0, 0.23);
	box-shadow: 0 1px #fff;
	box-sizing: border-box;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 45px;
	overflow: hidden;
	width:28%;
	font-size: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	text-align-last: center;
	color: white;
	opacity: 0.7;
}

select::-ms-expand {
    display: none;
}

#time, #time2, #time3 {
	font-size:18px;
}

#date1, #date2 {
	font-size:18px;
	margin-right: 9px;
	margin-bottom: 8px;
	margin-top: -10px;
}
#date3{
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: -10px;
}

#locationPic {
	margin-left: 2px;
	margin-top: 6px;
}

input[type="checkbox"],  {
	font-size:30px;
}

#location {
	margin-left: 8px;
	width: 95%;
}


/*toggle button*/

.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  width: 120px;
  border: 3px solid #ffffff;
  border-radius: 5px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

#listt {
	color: #2E3959;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #2E3959;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 26px;
  background: #65bd63;
  border-radius: 1px;
  -webkit-transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
  background: #ffffff;
}

#name{
text-align: center;
font-color: black;
}